Button_Pushing.uasset filter=lfs diff=lfs merge=lfs -text
Climbing_Up_Wall.uasset filter=lfs diff=lfs merge=lfs -text
Crouch_Rapid_Fire.uasset filter=lfs diff=lfs merge=lfs -text
Crouch_Rapid_Fire__1_.uasset filter=lfs diff=lfs merge=lfs -text
Death.uasset filter=lfs diff=lfs merge=lfs -text
Death_From_Front_Headshot.uasset filter=lfs diff=lfs merge=lfs -text
Firing_Rifle.uasset filter=lfs diff=lfs merge=lfs -text
Firing_Rifle__1_.uasset filter=lfs diff=lfs merge=lfs -text
Firing_Rifle__2_.uasset filter=lfs diff=lfs merge=lfs -text
Firing_Rifle__3_.uasset filter=lfs diff=lfs merge=lfs -text
Firing_Rifle__4_.uasset filter=lfs diff=lfs merge=lfs -text
Idle.uasset filter=lfs diff=lfs merge=lfs -text
Idle_Crouching.uasset filter=lfs diff=lfs merge=lfs -text
Jump.uasset filter=lfs diff=lfs merge=lfs -text
Jump_Down.uasset filter=lfs diff=lfs merge=lfs -text
Jump_Loop.uasset filter=lfs diff=lfs merge=lfs -text
Jump_Up.uasset filter=lfs diff=lfs merge=lfs -text
Low_Crawl.uasset filter=lfs diff=lfs merge=lfs -text
Sprint_Forward.uasset filter=lfs diff=lfs merge=lfs -text
Sprinting_Forward_Roll.uasset filter=lfs diff=lfs merge=lfs -text
Taunt.uasset filter=lfs diff=lfs merge=lfs -text
Throw_Grenade.uasset filter=lfs diff=lfs merge=lfs -text
Toss_Grenade.uasset filter=lfs diff=lfs merge=lfs -text
Walk_Crouching_Forward.uasset filter=lfs diff=lfs merge=lfs -text
Walk_Crouching_Forward_Right.uasset filter=lfs diff=lfs merge=lfs -text
Walk_Forward.uasset filter=lfs diff=lfs merge=lfs -text
